yolo*.pt
/*.png
output/
__pycache__/
dataset/
dataset_attention/
unbalanced_dataset/
unbalanced_dataset_sr/
balanced_dataset/
balanced_dataset_sr/
balanced_dataset_coco2017/
feature_extracted/
wandb/
checkpoints/*/*
!checkpoints/*/best_model.pt
!checkpoints/*/test_predictions.json
prediction_results
videos/
draw/
patch_test.py
detect_patch.py
dds_test.py
ddsrn_test.py
test.py
/*.jpg
helpers_copy/
ddscores_analysis/
for paper/
benchmarks/
media/
plots/
utils/
visualization/
helpers/1_compute_metrics_DDSRN.py
Kitti_Visdrone_Dataset/
coco-2017/
*.json
COCO_C/
VOC_C/
VOC2007_test/
balanced_dataset_coco17_distorted/
checkpoints/
image_group_comparisons/
rtdetr-l.pt